<div class="yotpo-widget-instance" data-yotpo-instance-id="438540" product-handle="{{product.handle}}" widget-type="SubscriptionsAddToCartWidget" storefront-theme="unknown" injection="auto" full-format-product-price="{{ product.price | money }}"></div>
