
  
  
  <style>
    .gps-484702308534322430 .pointer-events-none{pointer-events:none}.gps-484702308534322430 .pointer-events-auto{pointer-events:auto}.gps-484702308534322430 .absolute{position:absolute}.gps-484702308534322430 .relative{position:relative}.gps-484702308534322430 .inset-0{inset:0}.gps-484702308534322430 .mx-auto{margin-left:auto;margin-right:auto}.gps-484702308534322430 .mb-0{margin-bottom:0}.gps-484702308534322430 .inline-block{display:inline-block}.gps-484702308534322430 .flex{display:flex}.gps-484702308534322430 .grid{display:grid}.gps-484702308534322430 .w-full{width:100%}.gps-484702308534322430 .max-w-full{max-width:100%}.gps-484702308534322430 .flex-col{flex-direction:column}.gps-484702308534322430 .gap-y-0{row-gap:0}.gps-484702308534322430 .overflow-hidden{overflow:hidden}.gps-484702308534322430 .overflow-clip{overflow:clip}.gps-484702308534322430 .align-middle{vertical-align:middle}.gps-484702308534322430 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484702308534322430 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484702308534322430 .duration-200{transition-duration:.2s}.gps-484702308534322430 .duration-300{transition-duration:.3s}.gps-484702308534322430 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-484702308534322430 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-484702308534322430 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-484702308534322430 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-484702308534322430 .\[\&_p\]\:inline p{display:inline}.gps-484702308534322430 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-484702308534322430 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gGqonwdF0j"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F2F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGqonwdF0j mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gcr0fWKhCw relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5zWI2_Iz9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5zWI2_Iz9 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGLjd8mPOJ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNVd3f_E9r"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pl:56px;--pr:56px;--pl-mobile:0px;--pr-mobile:0px;--cg:30px;--pc:center;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNVd3f_E9r mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gfKKWhVKSX relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gIOHOaeafW"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "484015239042433867-6a090dd6-875b-4b69-9c73-e256413df2e8.png" | asset_url }}" data-srcset="{{ '484015239042433867-6a090dd6-875b-4b69-9c73-e256413df2e8.png' | asset_img_url: '768x768' }} 768w, {{ '484015239042433867-6a090dd6-875b-4b69-9c73-e256413df2e8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484015239042433867-6a090dd6-875b-4b69-9c73-e256413df2e8.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="700" height="700" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:3/2;--objf:contain;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
      
      
    <div
      parentTag="Col" id="gpxJQdztNy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:0px;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpxJQdztNy mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gV1CizGVfk relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="ga5p6ny4Zc  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:0;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--bgc:#F2F2F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="color:#000000;font-size:32px;">Need prayer?</span><br><span style="color:#000000;font-size:32px;">Let us unite in prayer with you.</span></p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-l)" class="gsH-r7anQT ">
      
    <div
      parentTag="Col"
        class="gsH-r7anQT  overflow-clip"
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:42px;word-break:break-word"
        >
        <p><span style="background-color:#F2F2F2;color:#FFCC00;font-size:61px;"><strong>Kingdom Prayer Warriors</strong></span></p>
        </h2>
      </div>
    </div>
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-3xl)" class="gIgOPuxgmh ">
      
    <div
      parentTag="Col"
        class="gIgOPuxgmh  overflow-clip"
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p><span style="color:#000000;font-size:27px;"><i>“Do not be anxious about anything, but in every situation, by prayer and petition, with thanksgiving, present your requests to God. And the peace of God, which transcends all understanding, will guard your hearts and your minds in Christ Jesus.” - Philippians 4:6-7</i></span></p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g5-mageBel  overflow-clip"
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:0;--c:#575757;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:200%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="background-color:#F2F2F2;color:rgb(55,65,81);font-size:29px;">At Kingdom Armor, we believe in the strength of faith and the power of prayer. We are more than just a clothing company; we are a community of believers, and we are here to support you in your faith journey. If you have a prayer request, we invite you to share it with us. Your concerns and hopes are important to us, and we believe in the strength of collective prayer. Let us stand together in faith and lift your prayers up to the heavens. Your prayer matters, and we are here to join you in seeking solace, guidance, and blessings through the power of prayer. You are part of the Kingdom Armor family, let our community be a source of support and love in your time of need.</span><br><br><span style="background-color:#F2F2F2;color:#000000;font-size:25px;"><i><strong>"Again I say to you, if two of you agree on earth about anything they ask, it will be done for them by my Father in &nbsp;heaven. For where two or three are gathered in my name, there am I among them." - Matthew 18:19-20</strong></i></span><br><br><br><br>&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-484702308534322430 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=484702308534322430&template_id=484685961016378252)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
