
  
  
  <style>
    .gps-485345178383549324 .relative{position:relative}.gps-485345178383549324 .mx-auto{margin-left:auto;margin-right:auto}.gps-485345178383549324 .mb-0{margin-bottom:0}.gps-485345178383549324 .flex{display:flex}.gps-485345178383549324 .grid{display:grid}.gps-485345178383549324 .max-w-full{max-width:100%}.gps-485345178383549324 .flex-col{flex-direction:column}.gps-485345178383549324 .gap-y-0{row-gap:0}.gps-485345178383549324 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485345178383549324 .duration-200{transition-duration:.2s}.gps-485345178383549324 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485345178383549324 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNniNuolFU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pl:0px;--pb:var(undefined);--pr:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNniNuolFU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gSMJC1qKqE relative flex flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-485345178383549324 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=485345178383549324&template_id=485333959710868734)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
