
  
  
      <style>
        @font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-dmiw.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-lmjcDidBeT5g.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-dmjcDidBc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-485345178450658558 .pointer-events-none{pointer-events:none}.gps-485345178450658558 .pointer-events-auto{pointer-events:auto}.gps-485345178450658558 .absolute{position:absolute}.gps-485345178450658558 .relative{position:relative}.gps-485345178450658558 .inset-0{inset:0}.gps-485345178450658558 .mx-auto{margin-left:auto;margin-right:auto}.gps-485345178450658558 .mb-0{margin-bottom:0}.gps-485345178450658558 .inline-block{display:inline-block}.gps-485345178450658558 .flex{display:flex}.gps-485345178450658558 .grid{display:grid}.gps-485345178450658558 .w-full{width:100%}.gps-485345178450658558 .max-w-full{max-width:100%}.gps-485345178450658558 .flex-col{flex-direction:column}.gps-485345178450658558 .gap-y-0{row-gap:0}.gps-485345178450658558 .overflow-hidden{overflow:hidden}.gps-485345178450658558 .overflow-clip{overflow:clip}.gps-485345178450658558 .align-middle{vertical-align:middle}.gps-485345178450658558 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485345178450658558 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485345178450658558 .duration-200{transition-duration:.2s}.gps-485345178450658558 .duration-300{transition-duration:.3s}.gps-485345178450658558 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-485345178450658558 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-485345178450658558 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-485345178450658558 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-485345178450658558 .\[\&_p\]\:inline p{display:inline}.gps-485345178450658558 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485345178450658558 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gCyf9Q53ry"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-mobile:var(undefined);--pb-mobile:var(--g-s-4xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCyf9Q53ry mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8ekwW0Dpn relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gUs3Uh-zVU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--pl:100px;--pr:100px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:50px;--pr-tablet:50px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUs3Uh-zVU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEulAWCwRy relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)" class="g7JlgRvK6_ ">
      
    <div
      parentTag="Col"
        class="g7JlgRvK6_  overflow-clip"
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Abril-Fatface, Abril Fatface);--weight:600;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;word-break:break-word"
        >
        <p><span style="font-size:45px;"><strong>Our Brand</strong></span></p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gnIFxPNgJ1  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#000000;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="font-size:29px;">Welcome to Kingdom Armor, where faith is our fashion, and God's love is our inspiration! 🛡️</span></p><p>&nbsp;</p><p><span style="font-size:29px;">At Kingdom Armor, we are more than just a clothing company; we are a movement dedicated to arming God's people with the powerful message of His word by offering a wide range of high-quality, stylish, and meaningful clothing and accessories at the intersection of urban streetwear and spiritual empowerment. Each design we create is infused with meaningful scripture and uplifting messages, serving as a reminder of the strength and protection that faith in God provides.</span></p><p><span style="font-size:29px;">Our mission? To equip the Kingdom with the Word of God, and we do it in style! 👑🙏</span></p><p>&nbsp;</p><p><span style="font-size:29px;">🌟 <strong>What Sets Us Apart:</strong></span></p><p><span style="font-size:29px;">✝️ Faith-Inspired Designs: In a world filled with distractions and challenges, our clothing and accessories serve as a powerful reminder of the strength and protection found in God's love. Whether you're strolling through city streets or gathering with friends, Kingdom Armor clothing is designed to help you wear your faith boldly and be a conversation starter for all who encounter it. 🌆👕</span></p><p>&nbsp;</p><p><span style="font-size:29px;">👕<strong> Premium Quality:&nbsp;</strong></span></p><p><span style="font-size:29px;">Our commitment to quality craftsmanship ensures that our garments not only express your faith but also withstand the rigors of life. Our clothing is comfortable, durable, and made to last. When you wear Kingdom Armor, you're wearing the best in the game. Luxury at its finest!</span></p><p>&nbsp;</p><p><span style="font-size:29px;">🤝<strong> Community &amp; Connection:</strong></span></p><p><span style="font-size:29px;">&nbsp;We're not just a clothing brand; we're a community of believers who share a common love for Jesus Christ. Join us in spreading love, positivity, and faith in the Kingdom.</span></p><p>&nbsp;</p><p><span style="font-size:29px;">🛒 <strong>Shop with Purpose:</strong></span></p><p><span style="font-size:29px;">&nbsp;Every purchase you make at Kingdom Armor contributes to our mission of spreading the gospel and supporting charitable initiatives. We believe in giving back to the community and making a positive impact on the world.</span></p><p>&nbsp;</p><p><span style="font-size:29px;">📦 <strong>Worldwide Shipping:&nbsp;</strong></span></p><p><span style="font-size:29px;">No matter where you are, we're here to serve you. We offer worldwide shipping to ensure that disciples everywhere can wear Kingdom Armor.</span></p><p>&nbsp;</p><p><span style="font-size:29px;">Join us in sharing the message of faith and love through fashion. Explore our collection today and find the perfect piece that speaks to your heart and soul.</span></p><p>&nbsp;</p><p><span style="font-size:29px;">We invite you to join our Kingdom Armor community and become part of a movement that seeks to shine God's light in the midst of this fallen world. Together, we can wear our faith boldly, knowing that we are armored with the Word of God and ready to make a positive impact in the world.</span></p><p>&nbsp;</p><p><span style="font-size:29px;">Stay connected with us for the latest updates, promotions, and inspiration. Together, let's armor up in faith and fashion for the glory of His kingdom! &nbsp;Welcome to the Kingdom Armor family! Armor up in faith, hit the streets in style 🙌❤️</span></p><p>&nbsp;</p><p><span style="font-size:29px;">#FaithInFashion #KingdomArmor #SpreadTheWord</span></p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gLsdlQfoq1  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>Faith-Based + High Quality + Meaningful</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gD74mCLE-B"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-3xl);--cg-mobile:var(--g-s-xl);--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD74mCLE-B mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-ZJnHITIy relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gW8msFya2j"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:200px;--w-tablet:200px;--w-mobile:200px;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "484015239042433867-f687d41e-0d13-4eed-ae46-ed26e72d5c12.jpg" | asset_url }}" data-srcset="{{ '484015239042433867-f687d41e-0d13-4eed-ae46-ed26e72d5c12.jpg' | asset_img_url: '768x768' }} 768w, {{ '484015239042433867-f687d41e-0d13-4eed-ae46-ed26e72d5c12.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '484015239042433867-f687d41e-0d13-4eed-ae46-ed26e72d5c12.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="1600" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:2000/1600;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gVcuSQKZyp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVcuSQKZyp mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-rPRVdGIa relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gP1EtyYzcD  overflow-clip"
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:21px;--size-tablet:16px;--size-mobile:14px;--fs:italic;word-break:break-word"
        >
        <p>A final word: Be strong in the Lord and in his mighty power. Put on all of God’s armor so that you will be able to stand firm against all strategies of the devil.”</p><p>Ephesians 6:10-11 NLT</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-485345178450658558 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=485345178450658558&template_id=485333959710868734)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
