<div class="four04">
  <div class="width">
    <h1>{{ 'General.not_found' | t }}</h1>
    <a class="button" href="/">{{ 'Cart.continue' | t }}</a>
  </div>
</div>
{% schema %}
  {
    "name": "404 main",
    "settings": []
  }
{% endschema %}